@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #1292b3, #00cbff);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0a596c7d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #ff6e00;
    text-align: center;
    text-shadow: 1px 1px 2px #a04500bb;
}

h2 {
    color: #12b0b3;
}

h3 {
    color: #12b0b3;
}

p {
    text-align: justify;
}