@charset "UTF-8";

body{
    background-color: #f5f0dc;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
} 

h2 {
    background-color: #b3a742;
    background:-webkit-linear-gradient(top, #9c8f67,#c7be9b 30%);
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: #ffffff;
}

#titulo {
    text-align: center;
}

nav{
    width: 200px;
    float: left;
}

#conteudo{
    width: 740px;
    float: right;
}

nav ul li{
    background-color: #c3be9b;
    margin-bottom: 3px;
}

nav ul li:hover{
    background-color: #9c8f67;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul{
    list-style: none;
    padding-left:0;
}
figure {
    background-color: white;
    width: 450px;
    text-align: center;
    padding: 15px;
    font-family: "Comic Sans MS",cursive;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
}
#tb-nutrientes {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}
#tb-nutrientes th {
    background-color: #ffffff;
    
}

 #topo {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f8eab3;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

a {
    color: blue;
    text-decoration: none;
}

figure:hover {
   -webkit-transform:rotate(-5deg);
}
